{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
           <table id="jobsTable" class="table table-striped nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>State</th>
                        <th>Details</th>
                        <th>Job ID</th>
                        <th>Job Name</th>
                        <th>Processed</th>
                        <th>Read</th>
                        <th>Transferred</th>
                        <th>Speed</th>
                        <th>Source Load</th>
                        <th>Source Processing Load</th>
                        <th>Network Load</th>
                        <th>Target Load</th>
                        <th>Bottleneck</th>
                        <th>Duration</th>
                        <th>Created At</th>
                    </tr>
                </thead>
            </table>
{% endblock %}
    {% block scripts %}
    <script>
        $(document).ready(function() {
            $('#jobsTable').DataTable({
                "responsive": true,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.0.8/i18n/it-IT.json",
                },
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "dataSrc": "data",
                    "url": "{{ url_for('jobs_jobs_data') }}",
                    "type": "GET"
                },
                "columns": [
                    { "data": "id", "visible": false },
                    {
                      "data": "start_time",
                      "visible": false,
/*                      "render": function (data, type, row) {
                        return new Date(data).toISOString();
                      }*/
                    },
                    { 
                      "data": "end_time",
                      "visible": false,
/*                      "render": function (data, type, row) {
                        return new Date(data).toISOString();
                      }*/
                    },
                    { "data": "state", "visible": false },
                    { "data": "details", "visible": false },
                    { "data": "job_id", "visible": false },
                    { "data": "job_name" },
                    { "data": "processed" },
                    { "data": "read" },
                    { "data": "transferred" },
                    { "data": "speed" },
                    { "data": "source_load", "visible": false },
                    { "data": "source_processing_load", "visible": false },
                    { "data": "network_load", "visible": false },
                    { "data": "target_load", "visible": false },
                    { "data": "bottleneck" },
                    { "data": "duration" },
                    { "data": "created_at" }
                ],
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        extend: 'colvis',
                        text: 'Colonne'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Export to Excel',
                        className: 'btn btn-success',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ]
            });
        });
    </script>
    {% endblock %}
