{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block content %}
       <form method="POST" action="{{ url_for('login', next=request.args.get('next')) }}">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                {{ form.username(class="form-control") }}
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                {{ form.password(class="form-control") }}
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            <div class="alert alert-danger mt-3">
                              {{ messages[0] }}
                            </div>
                          {% endif %}
                        {% endwith %}

{% endblock %}
